@font-face {
  font-family: "Five Fonts at Freddy's";
  src: url("./font/FiveFontsatFreddy's-Regular.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: normal;
}

html,
body,
#root {
  width: 100vw;
  height: 100vh;
  background: transparent;
  overflow: hidden;
  user-select: none;
  font-family: "Five Fonts at Freddy's", 'Courier New', monospace;
  -webkit-font-smoothing: none;
  font-smooth: never;
  image-rendering: pixelated;
}

ul {
  list-style: none;
}